@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  background-image: url(images/ceu2.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

p {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  color: #e8eff2;
}

ul {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.header button {
  position: absolute;
  right: 18%;
  margin-top: -30px;
  color: #e8eff2;
} 

.header i {
  font-size: 22px;
} 

.to-do {

  margin-top: 40px;
  width: 60%;
}

.textInsert {
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 90%;
}

.divInsert {
  padding: 10px;
  background: linear-gradient(#f1b1ff, #8257f3);
  border-radius: 10px;
  display: flex;
  box-shadow: 6px 5px 10px 0px grey;
}

button {
  width: 10%;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.container{
    margin: 70px;
    width: 55%;
    background-color: rgba(36, 41, 45, 0.364);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    min-height: 500px;
    overflow: auto;
}

.fundo-to-do {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    padding-top: 10px;
    
}

.bx-plus {
  font-size: 20px;
  margin-left: 10px;
  background-color: rgb(139, 14, 223);
  border-radius: 50%;
  padding: 5px;
  color: white;
}

.divLi {
  margin-top: 20px;
  padding: 10px;
  background: lightgray;
  border-radius: 10px;
  box-shadow: 6px 5px 10px 0px grey;
  display: flex;
  align-items: center;
}

.divLi span {
  width: 80%;
  color: dimgray;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}

.divLi i {
  font-size: 22px;
  color: brown;
}

li {
  list-style-type: none;
}

.line-through {
  text-decoration: line-through;
}

@media (max-width: 775px) {
  input {
    width: 70%;
  }

  .divInsert button {
    width: 30%;
  }

  i {
    font-size: 30px;
    padding: 0px;
  }

  p {
    font-size: x-large;
  }
}